ENVIRONMENT=production

POSTGRES_DB=fuzzy_lookup
POSTGRES_USER=fuzzy_user
POSTGRES_PASSWORD=fuzzy_password

DATABASE_URL=postgresql+psycopg://fuzzy_user:fuzzy_password@postgres:5432/fuzzy_lookup

JWT_SECRET_KEY=secret-key
JWT_EXPIRE_MINUTES=1440

# Logging Configuration
LOG_LEVEL=INFO

GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
